
$icon-font-path: "/node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

[v-cloak] {
  display: none;
}

.btn > .glyphicon {
  top: 3px;
}

nav .navbar-controls {
  margin-top: 8px;
  margin-right: 10px;
}

nav .navbar-controls .btn-group:first-of-type .glyphicon {
  top: 1px;
}
nav .navbar-controls .btn-group:first-of-type span {
  text-transform: capitalize;
}

.input-group-addon:not(:last-child) {
  border: 0;
}


/* BOOTSTRAP SPINNER */
.glyphicon.fast-right-spinner {
  -webkit-animation: glyphicon-spin-r 1s infinite linear;
  animation: glyphicon-spin-r 1s infinite linear;
}
.glyphicon.normal-right-spinner {
  -webkit-animation: glyphicon-spin-r 2s infinite linear;
  animation: glyphicon-spin-r 2s infinite linear;
}
.glyphicon.slow-right-spinner {
  -webkit-animation: glyphicon-spin-r 3s infinite linear;
  animation: glyphicon-spin-r 3s infinite linear;
}
.glyphicon.fast-left-spinner {
  -webkit-animation: glyphicon-spin-l 1s infinite linear;
  animation: glyphicon-spin-l 1s infinite linear;
}
.glyphicon.normal-left-spinner {
  -webkit-animation: glyphicon-spin-l 2s infinite linear;
  animation: glyphicon-spin-l 2s infinite linear;
}
.glyphicon.slow-left-spinner {
  -webkit-animation: glyphicon-spin-l 3s infinite linear;
  animation: glyphicon-spin-l 3s infinite linear;
}
@-webkit-keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes glyphicon-spin-l {
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes glyphicon-spin-l {
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* BOOTSTRAP SPINNER END */