<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>vue-wamp example</title>
    </head>
    <body>
        <div id="vue-wamp-example">

            <nav class="navbar navbar-default">
                <div class="container" v-cloak>
                    <div class="btn-toolbar navbar-controls">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" v-for="(t, i) in show" @click="show[i] = !t">
                                <i class="glyphicon" :class="{'glyphicon-ok text-success':t, 'glyphicon-remove text-danger':!t}"></i>
                                <span>{{ i }}</span>
                            </a>
                        </div>
                        <div class="btn-group btn-group-sm pull-right">
                            <a class="btn btn-default" :class="{'btn-success':$wampIsConnected}">
                                <span v-if="$wampIsConnected">Connected</span>
                                <span v-else>Connecting...</span>
                            </a>
                            <a class="btn btn-default" :class="{'btn-success':$wampIsOpen}">
                                <span v-if="$wampIsOpen">Open</span>
                                <span v-else>Opening...</span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="container">

                <h2>Vue WAMP</h2>

                <div v-cloak v-if="show.message">
                    <hr/>
                    <app-message></app-message>
                </div>

                <div v-cloak v-if="show.label">
                    <hr/>
                    <app-label :items="labels"></app-label>
                </div>

                <div v-cloak v-if="show.size">
                    <hr/>
                    <app-size></app-size>
                </div>

            </div>
        </div>
    </body>
</html>